*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


header{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    padding: 10px 18%;
    border-bottom: 1px solid rgba(219,219,219,1);
    background-color: white;
}

header .logo{
    height: 29px;       
}

header .logo img{
    height: 100%;
    object-fit: contain;
}

header .search-box{
    width: 250px;
    background-color:rgba(239,239,239,1) ;
    padding: 3px 16px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 30px;

}

header .search-box input{
    height: 30px;
    border: none;
    outline: none;
    background-color:rgba(239,239,239,1);
    padding-left: 10px;
    font-size: 15px;
    color: #8e8e8e;

}  

header nav ul{
    list-style: none;
    display: flex;

}

header nav ul li{
    margin-right: 20px;
}

header nav ul li:last-child{
    margin-right: 0;
}

header nav ul li a img{
      width: 22px;
      height: 22px;
      border-radius: 50%;
      object-fit: cover;
}